@font-face{
    font-family: "miprimerafuente";
    src: url("fonts/CinzelDecorative-Black.ttf");
}
body{
    background-color: powderblue;
    font-family: verdana, sans-serif;
}
h1{
    font-family: "miprimerafuente";
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 2.8;
    word-spacing: 2.5px;
    text-shadow: 1.5px 2px 2px blue;
    
}

.direccion{
    text-align: right;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}
.primer_parrafo{
    text-indent: 20px;
    text-align: justify;
}
.segundo_parrafo{
    text-indent: 20px;
    text-align: justify;    
}
.tercer_parrafo{
    text-indent: 20px;
    text-align: justify;   
}
.despedida{
    line-height: 3.8;
    text-align: left;
    font-style: oblique;
}
